<!DOCTYPE html>
<html lang='es'>
	<head>
		<title>Lista de bebidas de ejemplo</title>
		<meta charset='utf-8'>
	</head>
	<body>
		<h1>Recetario de Bebidas</h1>
		{% for elemento in lista %}
		<ul>
			<li><strong>{{elemento.nombre}}</strong></li>
			<li>{{elemento.ingredientes}}</li>
			<li>{{elemento.preparacion}}</li>
		</ul>
		{% endfor %}

		<h1>Recetas</h1>
		{% for receta in lista_recetas %}
		<ul>
			<li><strong>{{receta.titulo}}</strong></li>
			<li>{{receta.ingredientes}}</li>
			<li>{{receta.preparacion}}</li>
			<li>{{receta.imagen}}</li>
			<li>{{receta.usuario}}</li>
		</ul>
		{% endfor %}
	</body>
</html>